html {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  #card-array {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    position: relative;
  }
  
  #buttons button {
    width: 150px;
    height: 150px;
    margin: 2px;
    font-size: 2rem;
    color: red;
    /* background: black; */
  }
  
  .face-down {
    background:red;
  }
  
  .face-up {
    background: white;
  }
  
  #reset {
    width: 50px;
    height: 30px;
  }
  
  div.scorepanel ul {
    width: 300px;
    justify-content: space-between;
    display: flex;
    list-style: none;
  }
  /* div.scorepanel ul>li{ */
  /* } */
  
  .winnerScreen {
    width: 55%;
    height: 250px;
    margin: auto;
    background-color: white;
    display: none;
    border: 1px solid green;
    position: absolute;
    top: 0;
    left: 100px;
  }
  .scorepanel {
    display: flex;
    justify-content: space-evenly;
    /* list-style: none; */
  }
  .outcome {
    color: black;
  }
  
  #fireworks {
    width: 900px;
    height: 800px;
    /* background-image:url(); */
    display:none;
    top:0;
    position:absolute;
    border:1px solid pink;
  }
  
  #fireworks img{
    width: 900px;
    height: auto;
  }